<form name="addressForm" ng-submit="createAddress()" novalidate>
    <fieldset>
        <legend>Or create a new address</legend>
        <fieldset-customer form="addressForm" form-data="addressFormData" salutations="salutations"></fieldset-customer>
        <fieldset-address form="addressForm" form-data="addressFormData"></fieldset-address>
    </fieldset>
    <div class="form-group">
        <button type="submit" class="btn btn--block" ng-disabled="addressForm.$invalid">Save &amp; go to payment</button>
    </div>
</form>