<h1>Form Elements</h1>

<div class="">
    <p class="mobile-top-nav nomargin full-width fwb"><a href="#">Navigation</a></p>
    <ul class="nav-local selfclear">
        <li class="nav-local__item"><a href="#/#buttons" class="nav-local__link">Buttons</a></li>
        <li class="nav-local__item"><a href="#select-dijit" class="nav-local__link">Select</a></li>
        <li class="nav-local__item"><a href="#text-input" class="nav-local__link">Inputs</a></li>
        <li class="nav-local__item"><a href="#field-help" class="nav-local__link">Field help</a></li>
        <li class="nav-local__item"><a href="#radio" class="nav-local__link">Checkboxes &amp; Radios</a></li>
    </ul>
</div>

<section id="buttons" class="section">
    <h2>Buttons</h2>
    <a class="btn" href="#" role="button">Link</a>
    <button class="btn btn--sml" type="submit">click me</button>
    <button class="btn" type="submit">click me</button>
</section>

<section id="text-input" class="section">

    <h2>Text Input</h2>
    <div class="form-group">
        <label for="firstname" class="col-sm-2">Firstname</label>
        <div class="col-sm-6">
            <input name="firstname" id="firstname" class="form-control" />
        </div>
    </div>
    <div class="form-group">
        <label for="lastname" class="col-sm-2">Lastname</label>
        <div class="col-sm-6">
            <input name="lastname" id="lastname" class="form-control" />
        </div>
    </div>

    <h2>Text Input Error</h2>
    <div class="form-group">
        <label for="firstname" class="col-sm-2 form-error">Firstname</label>
        <div class="col-sm-6">
            <input name="firstname" id="firstname" class="form-control form-error" />
        </div>
        <label for="firstname" class="col-sm-6 col-sm-push-2 form-error">Firstname required</label>
    </div>

</section>

<section id="radios-and-checkboxes" class="section">

    <h2>Radios &amp; Checkboxes</h2>
    <div class="form-radio">
        <label for="radio1"><input type="radio" id="radio1" />Lorem ipsum dolor sit amet, consectetur adipiscing elit. </label>
    </div>
    <div class="form-radio">
        <label for="radio2"><input type="radio" id="radio2" />Lorem ipsum dolor sit amet, consectetur adipiscing elit. </label>
    </div>

    <div class="form-checkbox">
        <label for="checkbox1"><input type="checkbox" id="checkbox1" />Lorem ipsum dolor sit amet, consectetur adipiscing elit. </label>
    </div>
    <div class="form-checkbox">
        <label for="checkbox2"><input type="checkbox" id="checkbox2" />Lorem ipsum dolor sit amet, consectetur adipiscing elit. </label>
    </div>

</section>