<div class="">
    <p class="mobile-top-nav nomargin full-width fwb"><a href="#">Navigation</a></p>
    <ul class="nav-local selfclear">
        <li class="nav-local__item"><a href="#/#buttons" class="nav-local__link">Headings</a></li>
        <li class="nav-local__item"><a href="#select-dijit" class="nav-local__link">Paragraphs</a></li>
    </ul>
</div>

<section id="headings" class="section">
    <h2>Headings</h2>
    <p>Typography employs a defined vertical rhythm with a 24px baseline. By default type has a single baseline unit of bottom margin and no top margin.</p>

    <ul class="list-lined list-lined--dotted">
        <li>
            <h1 class="rm-margin">Main Heading</h1>
            <!-- <ul class="list-linear list-linear--bullet">
                <li>30px/48px</li>
                <li>bold</li>
            </ul> -->
        </li>
        <li>
            <h2 class="rm-margin">Main Heading</h2>
        </li>
        <li>
            <h3 class="rm-margin">Sub Section Heading</h3>
        </li>
        <li>
            <h4 class="rm-margin">Sub Section Sub Heading</h4>
        </li>
        <li>
            <p class="type-lead rm-margin">Lead body content</p>
        </li>
        <li>
            <p class="rm-margin"><strong>Bold content within body or form labels</strong></p>
        </li>
        <li>
            <p class="rm-margin">Body content / copy</p>
        </li>
        <li>
            <p class="type-sml rm-margin">Button labels / meta content</p>
        </li>
        <li><p class="type-mark rm-margin">Marked / highlighted text</p></li>
        <li><a href="">Link</a></li>
    </div>

</section>

<section id="paragraphs" class="section">
    <h2>Paragraphs</h2>

    <h3>Lead Body Content</h3>
    <p class="type-lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ac efficitur nisl, sed sagittis massa. In tincidunt quam a sem fringilla facilisis.</p>

    <h3>Paragraph Sections</h3>
    <p>Sed faucibus luctus metus vitae commodo. Donec egestas sagittis sem, et dignissim nulla rhoncus ac. Mauris vel ipsum nisl. Vestibulum posuere posuere mi quis imperdiet. Proin dapibus rutrum quam. Nulla a accumsan magna. Etiam nunc elit, pretium sed nibh vitae, vehicula hendrerit nulla. Aliquam congue eu tortor eu malesuada.</p>
    <p>Nam tincidunt magna vitae leo condimentum lobortis. Vestibulum consectetur magna id sem imperdiet volutpat. Maecenas ut ultrices lectus, ut hendrerit neque. Pellentesque lacinia nisl vestibulum, euismod turpis a, sagittis augue. Donec vulputate dapibus rhoncus. Cras non pharetra mi. Nam eleifend nulla ipsum, ac interdum felis tincidunt tempus.</p>

    <h3>Paragraph Dimmed</h3>
    <p class="dim-el">Aliquam sed consequat elit. Pellentesque maximus sollicitudin efficitur. Vivamus venenatis, nulla eu posuere tincidunt, orci justo placerat leo, non aliquet justo tortor et urna. Quisque nec nisi ac nisi sodales efficitur. Vivamus lobortis tristique tellus, quis convallis neque ultricies vitae. Fusce non lacus mollis, sodales leo sagittis, aliquam odio. Nullam luctus nisl nisi, et vestibulum turpis suscipit vel.</p>
</section>