
<div class="row grad-transparent">

    <div class="col-xs-6">
        <div class="mod-fancy">
            <div class="mod-fancy__hd">
                Login
            </div>
            <div class="mod-fancy__bd">
                <form role="form" data-ng-submit="login()" class="form-horizontal">
                    <div class="form-row">
                        <label for="email" class="form-control-label">Email</label>
                        <div class="form-control-col">
                            <input type="text" name="email" id="email" data-ng-model="credentials.email" class="form-control" />
                        </div>
                    </div>
                    <div class="form-row">
                        <label for="password" class="form-control-label">Password</label>
                        <div class="form-control-col">
                            <input type="password" name="password" id="password" data-ng-model="credentials.password" class="form-control" />
                        </div>
                    </div>
                    <button type="submit">submit</button>
                </form>
            </div>
        </div>
    </div>

</div>