// General brand colours
// -------------------------------------------
$colour-primary:            #ff8a23 !default;
$colour-grey:				#f2f2f2 !default;


// Button colours (TBC)
// -------------------------------------------
$btn-default-colour:        #484848 !default;
$btn-default-background:    #e0e0e0 !default;
$btn-primary-colour:        red !default;
$btn-primary-background:    blue !default;




// MOVE THIS!

// Backgrounds, gradients and borders 
// ----

$border-color:              #f4f4f4             !default;
$grad-transparent-stop-1:   rgba(26,26,26,0.7)  !default;
$grad-transparent-stop-2:   rgba(6,6,6,0.7)     !default;