// Typography
// ----------

$heading-font-family:           'Raleway', sans-serif;
$body-font-family:              'Roboto', sans-serif;
$heading-colour: 				#4d4d4d !default;
$body-colour:                   #808080 !default;

$heading1-font-size:            3.2                 !default;
$heading1-line-height:          1.5                 !default;
$heading2-font-size:            2.4                 !default;
$heading2-line-height:          1                   !default;
$heading3-font-size:            2.1000              !default;
$heading3-line-height:          1.1429              !default;
$heading4-font-size:            1.7                 !default;
$heading4-line-height:          1.4118              !default;
$paragraph-font-size:           1.6                 !default;
$paragraph-line-height:         1.5                 !default;
$type-lead-font-size:           1.8                 !default;
$type-lead-line-height:         1.3333              !default;
$type-sm-font-size:             1.3                 !default;
$type-sm-line-height:           1.8462              !default;





// Needed (TBC)
$text-colour-brand:          #000 !default;

$body-colour-inverse:           #ff8a23 !default;
$text-colour-link:           #000 !default;

$btn-bg-colour:     #000 !default;
$btn-txt-colour:    #fff !default;

$quiet-color:                cyan !default;
$loud-color:                 yellow !default;