
<div class="container">
    <div class="row" ui-view>

    </div>

    <!--<ui-view class="slide"></ui-view>-->


<!--
    <div class="mod-pop">
        <div class="">
            <h2 class="">
                Login
            </h2>
            <div class="" data-ng-include="'views/auth/_loginForm.html'"></div>
        </div>
    </div>

    <div class="mod-pop">
        <div class="">
            <h2 class="">
                Register
            </h2>
            <div class="mod-fancy__bd" data-ng-include="'views/auth/_registerForm.html'"></div>
        </div>
    </div>
-->

</div>