@import 'mixins/all';


@import 'variables/all';

@import 'partials/reset';

@import "../bower_components/bootstrap/scss/bootstrap-grid";


@import 'partials/typography';
@import 'partials/form';
@import 'partials/fonts';

@import 'partials/img';
@import 'partials/header';
@import 'partials/footer';
@import 'partials/search';
@import 'partials/breadcrumb';
@import 'partials/hamburger';
@import 'partials/nav';
@import 'partials/local-nav';
@import 'partials/button';
@import 'partials/modules';
@import 'partials/sections';
@import 'partials/cards';
@import 'partials/media';
@import 'partials/thumbnail';
@import 'partials/rating';
@import 'partials/minibasket';
@import 'partials/pagination';
@import 'partials/loader';
@import 'partials/pods';
@import 'partials/list';
@import 'partials/filters';
@import 'partials/utils';

@import 'partials/dashboard';

@import 'pages/all';

// Temporary
.section {
	background-color: #fff;
	border-radius: 5px;
	padding: 5px;
}


