<div class="container">
	<div class="row spacer--vertical-reg">
		<div class="col-md-8">
			<img src="/images/content/home/gallery/slide1/jackets.jpg" 
				class="img-responsive scrollable--slide-up" 
				alt=""/>
		</div>
		<div class="col-md-8">
			<img src="/images/content/home/gallery/slide1/jackets.jpg" 
				class="img-responsive scrollable--slide-up scrollable--slide-up--delay100" 
				alt="" />
		</div>
		<div class="col-md-8">
			<img src="/images/content/home/gallery/slide1/jackets.jpg" 
				class="img-responsive scrollable--slide-up scrollable--slide-up--delay200" 
				alt="" />
		</div>
	</div>
	<div class="row spacer--vertical-reg">
		<div class="col-md-12">
			<img src="/images/content/home/gallery/slide1/dresses.jpg" 
				class="img-responsive scrollable--slide-up" 
				alt="" />
		</div>
		<div class="col-md-12">
			<img src="/images/content/home/gallery/slide1/dresses.jpg" 
				class="img-responsive scrollable--slide-left" 
				alt="" />
		</div>
	</div>
</div>