
<ng-include src="'views/index/_gallery.html'"></ng-include>


<section style="padding: 80px 0;" class="spacer--vertical-reg container" itemscope="itemscope" itemtype="http://schema.org/CreativeWork">
	<div class="row" itemprop="text">
		<div class="col-md-16 col-md-push-4">
			<h1 class="type-clear-margin" style="text-align: center;"><strong>Retail Rockstars is a Demo Ecommerce Website</strong></h1>
			<p class="type-lead" style="text-align: center;">This site is for portfolio demonstrations purposes only. It is not possible to purchase any products on this site. Not transactional iformation is recorded.</p>
		</div>
	</div>
</section>

<div class="container">
	<div class="row spacer--vertical-reg">
		<div class="col-md-8">
			<img src="/images/content/home/gallery/slide1/jackets.jpg" 
				class="img-responsive scrollable--slide-up" 
				alt=""
				style="" />
		</div>
		<div class="col-md-8">
			<img src="/images/content/home/gallery/slide1/jackets.jpg" 
				class="img-responsive scrollable--slide-up scrollable--slide-up--delay100" 
				alt=""
				style="" />
		</div>
		<div class="col-md-8">
			<img src="/images/content/home/gallery/slide1/jackets.jpg" 
				class="img-responsive scrollable--slide-up scrollable--slide-up--delay200" 
				alt=""
				style="" />
		</div>
	</div>
	<div class="row spacer--vertical-reg">
		<div class="col-md-12">
			<img src="/images/content/home/gallery/slide1/dresses.jpg" 
				class="img-responsive scrollable--slide-right" 
				alt=""
				style="" />
		</div>
		<div class="col-md-12">
			<img src="/images/content/home/gallery/slide1/dresses.jpg" 
				class="img-responsive scrollable--slide-left" 
				alt=""
				style="" />
		</div>
	</div>
</div>

<section style="background:#F9F9F9; padding: 80px 0;" class="spacer--vertical-reg">
	<div class="container">
		<div class="col-md-12">
			<img src="/images/content/home/gallery/slide1/computer.png" class="img-responsive" />
		</div>
		<div class="col-md-10 col-md-push-2">
	        <h2>Award Winning Team</h2>
	        <p>
	          Whether you need simple pages, striking galleries, a professional blog, or an online store, it's all included with your Squarespace website. Best of all, everything is mobile-ready right from the start.
	        </p>
	        <a href="/websites/" class="button button-square button-square-dark button-square-filled button-square-large">View Templates</a>

	        <div class="attribution" data-identifier="coasttocosta" data-site-title="Coast to Coasta" data-base-template="Montauk" data-url="http://coasttocosta.com">
	          <div class="attribution-name"><a data-identifier="coasttocosta" data-site-title="Coast to Coasta" data-base-template="Montauk" data-url="http://coasttocosta.com">Coast to Costa</a></div>
	          <div class="attribution-occupation">Squarespace Customer</div>
	        </div>
	    </div>
	</div>
</section>

