<div class="form-group">
    <div class="col-xs-24">
        <input aria-label="Address line 1" aria-required="true" name="address1" id="address1" class="form-control" ng-model="formData.address1" placeholder="Address line 1" required />
    </div>
</div>
<div class="form-group">
    <div class="col-xs-24">
        <input aria-label="Address line 2" name="address2" id="address2" class="form-control" ng-model="formData.address2" placeholder="Address line 2" />
    </div>
</div>

<div class="form-group">
    <div class="col-xs-24">
        <input aria-label="Address line 3" name="address3" id="address3" class="form-control" ng-model="formData.address3" placeholder="Address line 3" />
    </div>
</div>
<div class="form-group">
    <div class="col-xs-24">
        <input aria-label="Town or City" aria-required="true" name="townCity" id="townCity" class="form-control" ng-model="formData.townCity" placeholder="Town or City" required />
    </div>
</div>

<div class="form-group">
    <div class="col-xs-12">
        <input type="tel" aria-label="Telephone number" aria-require="true" name="telephone" id="telephone" class="form-control" ng-model="formData.telephone" placeholder="Tel no." required />
    </div>
    <div class="col-xs-12">
        <input aria-label="Postcode" aria-require="true" name="postcode" id="postcode" class="form-control" ng-model="formData.postcode" placeholder="Postcode" required />
    </div>
</div>

<div class="form-group">
    <div class="col-xs-24">
        <select aria-label="Country" aria-required="true" name="country" ng-model="formData.country" class="form-control" disable required>
            <option value="UK">United Kingdom</option>
        </select>
    </div>
</div>
