
<a ui-sref="basket" class="minibasket__summary">
    <i class="icon-shopping-bag icon-size-md"></i>
    <!-- Need this? -->
    <span class="show-tablet">&nbsp;({{basketItemCount}})</span>
</a>
<div class="minibasket__reveal">

    <p class="h2 type-clear-margin" ng-if="basketItems.length > 0">Your Items</p>

    <ul class="minibasket__list" ng-if="basketItems.length > 0">
        <li class="minibasket__list-item" data-ng-repeat="basketItem in basketItems">
            <article class="media">
                <span class="icon-close minibasket__list-item-link" role="button" ng-click="deleteItem(basketItem.variant.sku)"></span>
                <a href="" class="media__img">
                    <img src="/images/placeholders/tee.jpg" width="70" />
                </a>
                <div class="media__bd minibasket__list-item-body type-clear-margin">
                    <p class="strong type-sml">Crew Neck Grap T Shirt</p>
                    <p class="type-sml">
                        {{ basketItem.variant.size }}, &pound;39.99 (x {{ basketItem.quantity }})
                    </p>
                </div>
            </article>
        </li>
    </ul>
    
    <p data-ng-if="!basketItems || basketItems.length == 0">Your basket is empty.</p>
    
    <ol class="page-bullets" ng-if="pages.length >= 2">
        <li class="page-bullets__item" data-ng-repeat="page in pages">
            <a href="" class="page-bullets__link" data-ng-click="selectPage(page)" data-ng-class="{'page-bullets__link--selected': page === selectedPage}">{{ page + 1 }}</a>
        </li>
    </ol>

    <div class="minibasket__footer" ng-if="basketItems.length > 0">
        <dl class="dl-asymetric">
            <dt>Sub total (exc delivery)</dt>
            <dd class="strong">&pound;79.98</dd>
        </dl>
        <a ui-sref="basket" class="btn btn--block">Checkout Now</a>
    </div>

    <!--
    <div class="loading-screen">
        <div class="loading-screen__loader"></div>
    </div>
    -->
</div>
