<footer class="container">
	<div class="row spacer--huge">
		<div class="col-sm-24 col-md-12 col-lg-12">
			<ul class="row r-acc" data-attr="red" responsive-accordion speed="500" responsive-accordion-speed="100">
				<li class="col-md-12 col-lg-6 r-acc__sec">
					<h2 class="r-acc__sec-trig">Shopping</h2>
					<ul class="r-acc__sec-targ">
						<li><a href="">New in</a></li>
						<li><a href="">Seasons</a></li>
						<li><a href="">Sales</a></li>
						<li><a href="">Get the Look</a></li>
					</ul>
				</li>
				<li class="col-md-12 col-lg-6 r-acc__sec">
					<h2 class="r-acc__sec-trig">Services</h2>
					<ul class="r-acc__sec-targ">
						<li><a href="">New in</a></li>
						<li><a href="">Seasons</a></li>
						<li><a href="">Sales</a></li>
						<li><a href="">Get the Look</a></li>
					</ul>
				</li>
				<li class="col-md-12 col-lg-6 r-acc__sec">
					<h2 class="r-acc__sec-trig">About Us</h2>
					<ul class="r-acc__sec-targ">
						<li><a href="">New in</a></li>
						<li><a href="">Seasons</a></li>
						<li><a href="">Sales</a></li>
						<li><a href="">Get the Look</a></li>
					</ul>
				</li>
				<li class="col-md-12 col-lg-6 r-acc__sec">
					<h2 class="r-acc__sec-trig">Help</h2>
					<ul class="r-acc__sec-targ">
						<li><a href="">New in</a></li>
						<li><a href="">Seasons</a></li>
						<li><a href="">Sales</a></li>
						<li><a href="">Get the Look</a></li>
					</ul>
				</li>
			</ul>
		</div>

		<!-- TODO  add social links too -->
		
		<div class="col-md-12 col-lg-8 col-lg-push-4 clearfix">
			<div class="footer__form">
				<form action="" method="post" class="search">
	                <fieldset class="e-news__fieldset">
	                	<legend>Newsletter</legend>
	                	<p class="type-sml">Keep up to date with all the Retail Rockstars news and events with our email newsletter.</p>
	                    <label for="register-email" class="sr-hidden">Keep up to date with Retail Rockstars news</label>
	                    <div class="form-compact__wrap">
		                    <input class="form-control form-control--ext" id="register-email" type="email" placeholder="What's your email" name="email">
		                    <button type="submit" class="form-compact__btn">
						        <i class="icon-chevron"></i>
						    </button>
					    </div>
	                </fieldset>
	            </form>
            </div>
		</div>
	</div>

	<p class="type-sml spacer--huge text-center">&copy;Retail Rockstars</p>
</footer>