<div class="container">

    &copy; footer 2
</div>

<footer class="container">
	<div class="row">
		<div class="col-md-24 col-lg-12">
			<ul class="row r-acc" data-attr="red" responsive-accordion speed="500" responsive-accordion-speed="100">
				<li class="col-md-6 r-acc__sec">
					<h2 class="r-acc__sec-trig">Heading</h2>
					<ul class="r-acc__sec-targ">
						<li>Link</li>
						<li>Link</li>
						<li>Link</li>
						<li>Link</li>
						<li>Link</li>
						<li>Link</li>
					</ul>
				</li>
				<li class="col-md-6 r-acc__sec">
					<h2 class="r-acc__sec-trig">Heading</h2>
					<ul class="r-acc__sec-targ">
						<li>Link</li>
						<li>Link</li>
						<li>Link</li>
						<li>Link</li>
						<li>Link</li>
						<li>Link</li>
					</ul>
				</li>
				<li class="col-md-6 r-acc__sec">
					<h2 class="r-acc__sec-trig">Heading</h2>
					<ul class="r-acc__sec-targ">
						<li>Link</li>
						<li>Link</li>
						<li>Link</li>
						<li>Link</li>
						<li>Link</li>
						<li>Link</li>
					</ul>
				</li>
				<li class="col-md-6 r-acc__sec">
					<h2 class="r-acc__sec-trig">Heading</h2>
					<ul class="r-acc__sec-targ">
						<li>Link</li>
						<li>Link</li>
						<li>Link</li>
						<li>Link</li>
						<li>Link</li>
						<li>Link</li>
					</ul>
				</li>
			</ul>
		</div>

		<!-- TODO  add social links too -->
		
		<div class="col-md-12 col-lg-12">
			<form action="" method="post" class="e-news ng-pristine ng-valid">
                <fieldset class="e-news__fieldset">
                    <legend class="e-news__legend">Newsletter Sign Up</legend>
                    <p class="e-news__desc">Keep up to date with all the latest news from Blueprint</p>
                    <label class="e-news__label" for="emailID">Please enter your e-mail address</label>
                    <div class="e-news-fields u-media-cont">
                        <button class="e-news-fields__submit u-media-cont__right" value="Submit" type="submit">Submit</button>
                        <div class="u-media-cont__fill">
                            <input class="e-news-fields__e-mail" id="emailID" type="text" placeholder="Your email" name="emailaddress">
                        </div>
                    </div>
                </fieldset>
            </form>
		</div>
	</div>
</footer>