
// Basic button
.btn {
    background-color: #77BD42;  // green
    background-color: #29abe2;  // blue
    background-image: none;
    border: none;
    display: inline-block;
    color: white;
    cursor: pointer;
    font-family: $heading-font-family;
    font-weight: bold;
    text-align: center;

    margin-bottom: 5px;
    text-transform: uppercase;

    //@include btn-size(50px, $paragraph-font-size, ($paragraph-line-height * 2), 2px);
    @include btn-size(50px, $type-sm-font-size, 2.4em, 2px);

    &--block {
        display: block;
        width: 100%;
    }

    &[disabled=disabled] {
        background-color: #000;
        opacity: .3;
    }
}

// http://codepen.io/seansean11/pen/wHIae

.btn--sml {
    @include btn-size(12px, $type-sm-font-size, $type-sm-line-height, 2px);
}

.btn--md {
    @include btn-size(12px, $heading3-font-size, 2, 2px);
}


// Is this used??


.btn-link {
    color: #000;

    & * {   // All sub-elements should allow sr-only
        display: block;
    }

    &--sr-only {
        text-indent: 100%;
        white-space: nowrap;
        overflow: hidden;
    }

    &--cross::after {
        color: #000;
        content: '\2716';
    }
}

// Colours
.btn-primary {
    background: #ff8647;
    box-shadow: inset 0 1px rgba(255,255,142,.2),0 0 3px rgba(0,0,0,.25);
}


.btn-pager {
    background: rgba(0,0,0,0.3);
    border: none;
    color: $btn-default-colour;
    cursor: pointer;
    font-size: 30px;
    width: 50px;
    height: 50px;
    border-radius: 30px;
    outline: none;
    position: absolute;
    top: 50%;

    > span {
        position: absolute;
        text-indent: -9999px;
    }

    &[disabled=disabled] {
        display: none;
    }

    &::before {
        content: "\ea07";
        display: inline-block;
        font: normal normal normal 14px/1 iconfont;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        transform: translate(0, 0);
        vertical-align: middle;
    }

    &--left {
        transform: rotate(180deg);
    }

    &--right {
        right: 0;
    }
}
