
.footer {
    border-top: 1px solid $border-color;
    margin-top: 10px;
    min-height: 150px;
}


// Accordion group
.r-acc {
    
}

.r-acc__sec {

}

.r-acc__sec-trig {
    cursor: pointer;
}

.r-acc__sec-targ {
    display: none;

    @include media-breakpoint-up(md) {
        display: block !important;
    }
}