.media {
    overflow: hidden;
    position: relative;

    &--transparent {
        @include gradient($grad-transparent-stop-1, $grad-transparent-stop-2);
    }

    &--line:after {
        content:""; 
        background: #343434; 
        position: absolute; 
        bottom: 1px; 
        left: 10%; 
        height: 1px; 
        width: 80%;
    }
}

.media__img {
    float: left;
    margin-right: 20px;

    &--reverse {
        float: right;
        margin-right: 0;
        margin-left: 20px;
    }
}

.media__bd {
    overflow: hidden;
}