

/* Rename this to something more creative
   it's on the PD page around the basket form */
.mod-bordered {
    border-top: 1px solid $border-color;
    border-bottom: 1px solid $border-color;
    margin-top:25px;
    padding: 17px 0;
}
