
html {
    font-size: 62.5%;
}

body {
    color: $body-colour;
    font-family: $body-font-family;
}

h1, .h1 {
    color: $heading-colour;
    font-family: $heading-font-family;
    @include rem($heading1-font-size);    /* 32px */
    line-height: $heading1-line-height;   /* 48px */
    margin-bottom: #{$heading1-line-height}em;
}

h2, .h2 {
    color: $heading-colour;
    font-family: $heading-font-family;
    @include rem($heading2-font-size);      /* 24px */
    line-height: $heading1-line-height;     /* 24px */
    margin-bottom: #{$heading1-line-height}em;
}

h3, .h3 {
    font-family: $heading-font-family;
    font-style: italic;
    @include rem($heading3-font-size);      /* 21px */
    line-height: $heading3-line-height;     /* 24px */
    margin-bottom: #{$heading3-line-height}em;
}

h4, .h4 {
    font-family: $heading-font-family;
    font-weight: normal;
    line-height: $heading4-line-height;
    margin-bottom: #{$heading4-line-height / 2}em;
    margin-top: #{$heading4-line-height / 2}em;
    @include rem($heading4-font-size);
}

p, .p { // This one is broken
    @include rem($paragraph-font-size);
    line-height: $paragraph-line-height;  //base line 24px
    margin-bottom: #{$paragraph-line-height}em;
}

label {
    color: $label-colour;
    display: block;
    font-family: $heading-font-family;
    font-weight: bold;
    text-transform: uppercase;
}

.type-lead {
    @include rem($type-lead-font-size);
    font-weight: 600;
    line-height: $type-lead-line-height;
    margin-bottom: #{$type-lead-line-height}em;
}

.type-sml {
    @include rem($type-sm-font-size);
    font-weight: 600;
    line-height: $type-sm-line-height;
    margin-bottom: #{$type-sm-font-size/2}em;
    margin-top: #{$type-sm-font-size/2}em;
}

.type-mark {
    color: $colour-primary;
}

// Clears the top and bottom margin (preserves vertical rhythm)
.type-clear-margin {
    margin-bottom: 0;
    margin-top: 0;
    & > * {
        margin-bottom: 0;
        margin-top: 0; 
    }
}


// Move to general utils
.rm-margin {margin-bottom: 0; margin-top: 0;}
.rm-margin-top {margin-top: 0;}
.rm-margin-bottom {margin-bottom: 0;}

.dim-el {opacity: .8;}


a {
    color: $text-colour-link;
}

.list-std {
    font-size: 1.2rem;
    line-height: 1.5rem;
}

li {
    @include rem($type-list-font-size);
    line-height: $type-list-line-height;
    margin-bottom: #{$type-list-font-size/2}em;
}

dl {
    overflow:hidden;
    margin-bottom: 10px;        //modular scale
    // TODO include clearfix()
}

dt, dd {
    // @include span(1 of 2)
    //@include span-columns(1 of 2);
}

dd {
    //@include omega;
    text-align: right;
}

.dl-asymetric dt {
    // @include span(2 of 3);
    //@include span-columns(2 of 3);
}

.dl-asymetric dd {
    // @include span(1 of 3);
    // @include omega;
    //@include span-columns(1 of 3);
}

// See http://stackoverflow.com/questions/12783419/hide-text-with-css-best-practice
.type-sr-only {
    display: block;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}

// Think these are repeated already in utils


.page-header {
    border-bottom: 1px dotted #d5d5d5;
    margin-bottom: 20px;
}




.quiet { font-color: $quiet-color; }
.loud  { font-color: $loud-color; }

.italic { font-style: italic; }
.bold   { font-weight: 700; @extend .loud; }

.block-margins { margin: 1em 0; }

.unordered-list { list-style-type: disc; }
.ordered-list { list-style: decimal; }


