
<section class="container" ng-init="findAddresses()">

	<div class="row">
		<h1 class="rm-margin-bottom">Your addressbook</h1>
		<header class="col-xs-4">
			
			<p>Hi, Rich. This is your addressbook. From here you can manage every aspect of your delivery and billing information. You currently have (1) address.</p>
			<ul class="">
		        <li><a ui-sref="account.addressbooknew" class="">Create a new address</a></li>
		    </ul>
		</header>

	    <!-- Print the addresses -->
	    <ng-include src="'views/account/_addresses.html'"></ng-include>
    </div>

</section>