<section class="col-xs-20 col-md-12 spacer--huge">
	<div class="page-header">
        <h1 class="rm-margin-bottom">Add a new address</h1>
    </div>

    <form name="addressForm" ng-submit="createAddress()" novalidate>
        <fieldset>
        	<!--
            <ng-include src="'views/partials/fieldsets/address.html'" include-replace></ng-include>
			-->
            <fieldset-customer form="addressForm" form-data="addressFormData" salutations="salutations"></fieldset-customer>
            <fieldset-address form="addressForm" form-data="addressFormData"></fieldset-address>
        </fieldset>
        <button type="submit" class="btn btn--inverse">Save</button>
    </form>
</section>