<section class="col-md-14 col-lg-18 spacer--huge">
    <div class="page-header">
        <h1 class="rm-margin-bottom">Edit this address</h1>
    </div>

    <div class="col-xs-20 col-md-12">
        <form ng-init="findAddress()" ng-submit="updateAddress()" novalidate>
	        <fieldset>
	            <!--<legend>Edit address</legend>-->
	           <!--  <div ng-include src="'views/account/address-fields.html'" include-replace></div> -->
	            <ng-include src="'views/partials/fieldsets/address.html'" include-replace></ng-include>
	        </fieldset>
	        <button type="submit" class="btn btn--inverse">Save</button>
	    </form>
    </div>
</section>
