<div class="subnavbar">
    <div class="container">
        <p class="type-clear-margin type-sml">Hello, Rich! <span class="dim-el">Welcome to your account.</span></p>
    </div>
</div>

<div class="container">
    <div class="row">
        <nav class="col-md-6 spacer--huge">
            <h2 class="type-sml">What can we do for you?</h2>
            <ul class="heading-listx">
                <li><a ui-sref="account.dashboard">account dashboard</a></li>
                <li><a ui-sref="account.details">account information</a></li>
                <li><a ui-sref="account.details">edit details</a></li>
                <li><a ui-sref="account.email">edit email</a></li>
                <li><a ui-sref="account.password">edit password</a></li>
                <li><a ui-sref="account.orders">my orders</a></li>
                <li><a ui-sref="account.addressbook">address book</a></li>
                <li><a ui-sref="accountDetails">my subscriptions</a></li>
                <li><a ui-sref="accountDetails">my wishlist</a></li>
            </ul>
        </nav>

         <ui-view></ui-view>
    </div>
</div>

    <!--
    <div class="row">
        
        <nav class="col-sm-3">
            <ul class="list-subnav">
                <li class="list-subnav__item"><a ui-sref="account.dashboard">account dashboard</a></li>
                <li class="list-subnav__item"><a ui-sref="account.details">account information</a></li>
                <li class="list-subnav__item"><a ui-sref="account.orders">my orders</a></li>
                <li class="list-subnav__item"><a ui-sref="account.addressbook">address book</a></li>
                <li class="list-subnav__item"><a ui-sref="accountDetails">my subscriptions</a></li>
                <li class="list-subnav__item"><a ui-sref="accountDetails">my wishlist</a></li>
            </ul>
        </nav>

        <section class="col-sm-9">
            <ui-view></ui-view>
        </section>
    </div>
    -->
