

<ui-view></ui-view>

    <!--
    <div class="row">
        
        <nav class="col-sm-3">
            <ul class="list-subnav">
                <li class="list-subnav__item"><a ui-sref="account.dashboard">account dashboard</a></li>
                <li class="list-subnav__item"><a ui-sref="account.details">account information</a></li>
                <li class="list-subnav__item"><a ui-sref="account.orders">my orders</a></li>
                <li class="list-subnav__item"><a ui-sref="account.addressbook">address book</a></li>
                <li class="list-subnav__item"><a ui-sref="accountDetails">my subscriptions</a></li>
                <li class="list-subnav__item"><a ui-sref="accountDetails">my wishlist</a></li>
            </ul>
        </nav>

        <section class="col-sm-9">
            <ui-view></ui-view>
        </section>
    </div>
    -->
