
<form role="form" class="mod-bordered" ng-submit="submitShoppingBagForm(addToBagForm.$valid)" name="addToBagForm" novalidate>
    <div class="row">
        <div class="form-group col-sm-12">
            <label for="sku">Size</label>
            <select id="sku" name="sku" class="form-control" ng-model="form.sku" ng-required>
                <option ng-repeat="variant in product.variants" value="{{ variant.sku }}">{{ variant.size }}</option>
            </select>
        </div>
        <div class="form-group col-sm-12">
            <label for="quantity">Quantity</label>
            <input type="number" value="1" min="1" max="10" name="quantity" id="quantity" class="form-control" ng-model="form.qty" ng-required="true" />
        </div>
    </div>
    <button type="submit" class="btn btn--md btn--block">Buy Now</button>
</form>